.logo {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    /* Mais grosso */
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.logo-gt {
    color: #ab5eff;
    /* Roxo */
}

.logo-royal {
    color: #ffffff;
    /* Branco */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
    /* opcional: muda a borda para branca sem exagerar */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}